<div class='container text-center'>
  <h1 class="display-1">The solo Team</h1>
</div></br></br>
<div class='container text-center'>
  <h1 class="display-3">La Solo team de Brest vous souhaite la bienvenue sur sa nouvelle app.</h1>
</div></br></br>